In [51]:
import numpy as np
import pandas as pd
print(pd.__version__)

2.3.2

In [28]:
car_data = pd.read_csv('car_fuel_efficiency.csv')

In [5]:
car_data.count().max()

np.int64(9704)

In [6]:
car_data.head(5)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [8]:
car_data['fuel_type'].nunique()

2

In [35]:
car_data.isna().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [15]:
car_data.groupby('origin')['fuel_efficiency_mpg'].max()

origin
Asia      23.759123
Europe    25.967222
USA       24.971452
Name: fuel_efficiency_mpg, dtype: float64

In [34]:
car_data.horsepower.median()

np.float64(149.0)

In [30]:
most_freq = car_data.horsepower.value_counts().max()
most_freq

np.int64(142)

In [33]:
car_data_filled = car_data.copy()
car_data_filled.horsepower = car_data_filled.horsepower.fillna(most_freq)
car_data_filled.horsepower.median()

np.float64(146.0)

In [36]:
car_data_filled.isna().sum()

engine_displacement      0
num_cylinders          482
horsepower               0
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [39]:
car_data.groupby('origin').max()#['origin'=="Asia"]

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
origin,,,,,,,,,,
Asia,370,11.0,245.0,4661.144932,22.7,2023,Gasoline,Front-wheel drive,4.0,23.759123
Europe,380,13.0,271.0,4726.977269,23.5,2023,Gasoline,Front-wheel drive,3.0,25.967222
USA,380,13.0,252.0,4739.077089,24.3,2023,Gasoline,Front-wheel drive,3.0,24.971452

In [49]:
x = car_data[
    car_data['origin'] == 'Asia'
][['vehicle_weight','model_year']].head(7).to_numpy()

In [50]:
x

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [65]:
xtx = x.T @ x                 
xtx_inv = np.linalg.inv(xtx) 
w = xtx_inv @ x.T @ y     
w

array([0.01386421, 0.5049067 ])

In [66]:
w.sum()

np.float64(0.5187709081074016)